<!-- main page to land on -->

<h2>Hello, and welcome to Mind Dump!</h2>

<p>Mind Dump is a stream of consciousness writing exercise inspired by Julia Cameron's <a href="#">"morning pages"</a>. Sit down and let your throughs spill out on to the page. Even though this is writing online, it's competely private. And unlike Facebook, Tumblr, or Wordpress, this is a personal endevour, not a social one. There is no right or wrong way to do it. Don't edit, don't overthink, just let your brain dump.</p>

<p>In addition to boosting creativity, Mind Dump utilizes <a href='http://www.ibm.com/watson/'>IBM's Watson</a> platform, leveraging its tone analysis engine to provide data-driven insignt into one's inner thoughts to better prioritize, synchronize, and live a more mindful day.</p>

<div class='container'>
<button class='btn btn-success'>
  <a href="/auth/signup">Sign Up</a>
</button>

<button class='btn btn-info'>
  <a href="/auth/login">Log In</a>
</button>
</div>