<% include ../../partials/navbar_loggedin.ejs %>

<h2>About</h2>

<div class='well' id='aboutDesc'>
  <p>Mind Dump is a stream of consciousness writing exercise inspired by Julia Cameron's <a href="#">"morning pages"</a>. Sit down and let your throughs spill out on to the page. Even though this is writing online, it's competely private. And unlike Facebook, Tumblr, or Wordpress, this is a personal endevour, not a social one. There is no right or wrong way to do it. Don't edit, don't overthink, just let your brain dump.</p>

  <p>In addition to boosting creativity, Mind Dump utilizes IBM's Watson platform, leveraging its tone analysis engine to provide data-driven insignt into one's inner thoughts to better prioritize, synchronize, and live a more mindful day.</p> 

  <p>"Much like a spell check," <a href="http://www.ibm.com/watson/developercloud/tone-analyzer.html">IBM </a>wrote, "Tone Analyzer can be used to perform a 'tone check' to provide insights about three types of tones in a piece of text including emotion (negative emotions, cheerfulness, anger), social propensities (openness, agreeableness, and conscientiousness), and writing styles (analytical, confident, and tentative). It can even make suggestions for alternative word choices to soften or strengthen a desired tone."</p>

  <p>Additional uses include:</p>

  <ul>
    <li>Personal and business communications: a service to get feedback about communications, which could improve the effectiveness of the messages and how they are received.</li>

    <li>Message resonance: optimize the tones in your communication to increase the impact on your audience.</li>

    <li>Self-branding: Bloggers and journalists could use the Tone Analyzer Service to get feedback in their tone and fine-tune their writing to reflect a specific personality or style.</li>
  </ul>

</div>