<% include ../../partials/navbar_loggedin.ejs %>

<h2>Your writing archive</h2>

<div class='well'>
  <% posts.forEach(function(post){ %>
      <h3>
          <%= post.createdAt %>
      </h3>

      <div class='writing'>
      <p>
        <%= post.content.substr(0, 200) %>
        <a href='/user/archive/<%=post.id%>'>
          <small> read more &xrarr; </small>
        </a>

      </p>
      </div>

      <hr>
  <% }); %>
</div>

