<% include ../../partials/navbar_loggedin.ejs %>

<!-- today's date goes here -->

<form method="POST" action="/user/main">
  <div class="form-group">
    <textarea rows="40" cols="50" id="content" name="content" class="form-control"></textarea>
  </div>
  <input type="submit" value="save" class="btn btn-primary">
</form>


