<!-- main page to land on -->

<div class='well'>

  <div id='landingDesc'>

    <p>Input an email, statement, text message, or simply stream-of-consciousness writing. Even though this is writing online, it's competely private. There is no right or wrong way to do it. Don't edit, don't overthink, just let your brain dump.</p>

    <p>Mind Dump breaks your text down into emotion, social, and language categories to help you gain more insight. It gives you an analysis of the overall tone of the content.</p>

    <p>It utilizes <a href='http://www.ibm.com/watson/'>IBM's Watson</a> platform, leveraging its tone analysis engine to provide data-driven insight into one's inner thoughts to better communicate, gain perception, live a more mindful day.</p>

  </div>

  <div id='landingBtns'>

    <a class="btn btn-primary btn-lg" href='/auth/signup'>Sign Up</a>
    <a class="btn btn-primary btn-lg" href='/auth/login'>Log In</a>

  </div>
  
</div>